.site-header{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    z-index:1000;
}

.site-footer{
    padding:80px 0;
    background:#214D3A;
    color:#fff;
}

.btn-primary{
    background:#214D3A;
    color:#fff;
    padding:14px 30px;
    border-radius:999px;
    display:inline-flex;
    align-items:center;
    gap:10px;
    transition:.3s;
}

.btn-primary:hover{
    opacity:.9;
}